<ion-view title="상점 기초정보 설정">
    <ion-nav-bar class="bar-calm">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="has-header" padding="true">
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="주차장명">
            </label>
            <label class="item item-input">
                <input type="tel" placeholder="휴대전화">
            </label>
            <label class="item item-input">
                <input type="tel" placeholder="유선전화">
            </label>
            <label class="item item-input">
                <input type="tel" placeholder="FAX">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="대표자 명">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="표기할 주소입력">
            </label>
        </div>

        <button class="button button-block button-calm">
            저장
        </button>
    </ion-content>
</ion-view>
