<ion-view title="차종 설정">
    <ion-nav-bar class="bar-calm">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-buttons side="primary">
        <button class="button" ng-show="!shouldShowDelete" ng-click="showDelete()">
            편집
        </button>
        <button class="button" ng-show="shouldShowDelete" ng-click="hideDelete()">
            완료
        </button>
    </ion-nav-buttons>

    <ion-floating-button click="openCartype()" has-footer="false" button-color="#2AC9AA" icon="ion-plus" iconColor="#fff">
    </ion-floating-button>

    <ion-content class="has-header">
        <ion-list show-delete="shouldShowDelete" can-swipe="listCanSwipe" class="background">
            <ion-item class="item">
                경형

                <ion-delete-button class="ion-minus-circled"
                                   ng-click="items.splice($index, 1)">
                </ion-delete-button>
            </ion-item>
        </ul>
    </ion-content>
</ion-view>
