<ion-view title="데이터베이스 관리" ng-init="initConfigDb()">
    <ion-nav-bar class="bar-calm">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="has-header">
        <ion-list class="background">
            <ion-item ng-repeat="database in dbList" ng-click="restore(database)">
                {{database.regdate | zdt}} 에 백업된 데이터
            </ion-item>
        </ion-list>
    </ion-content>

    <ion-floating-button click="backup()" has-footer="false" button-color="#2AC9AA" icon="ion-plus" iconColor="#fff"></ion-floating-button>
</ion-view>
