<ion-view title="차종 설정">
    <ion-nav-bar class="bar-calm">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-floating-button click="addCarType()" has-footer="false" button-color="#2AC9AA" icon="ion-plus" iconColor="#fff">
    </ion-floating-button>

    <ion-content class="has-header">
        <ul class="list">
            <li class="item">
                경형
            </li>
            <li class="item">
                소형
            </li>
            <li class="item">
                중형
            </li>
            <li class="item">
                대형
            </li>
            <li class="item">
                기타
            </li>
        </ul>
    </ion-content>
</ion-view>
