<ion-view title="sss" hide-nav-bar="true">
	<div class="tabs-striped tabs-top tabs-background-dark tabs-color-stable tabs-icon-left">
		<div class="tabs">
			<a class="tab-item active" href="#">
				<i class="icon ion-home"></i>
				입차 목록
			</a>
			<a class="tab-item" href="#">
				<i class="icon ion-ios-list"></i>
				입/출차 기록
			</a>
			<a class="tab-item" href="#">
				<i class="icon ion-star"></i>
				월차
			</a>
			<a class="tab-item" href="#">
				<i class="icon ion-model-s"></i>
				지정주차
			</a>
			<a class="tab-item" href="#">
				<i class="icon ion-calculator"></i>
				정산
			</a>
			<a class="tab-item" href="#">
				<i class="icon ion-gear-a"></i>
				설정
			</a>
		</div>
	</div>
	<ion-content class="">
	</ion-content>
	<multiple-views-support width="60%" />
</ion-view>
