<ion-view title="입차목록">
	<ion-nav-bar class="bar-calm">
		<ion-nav-back-button>
		</ion-nav-back-button>
	</ion-nav-bar>
	<ion-content class="has-header">
		<ion-refresher
				pulling-text="당겨서 새로 고침"
				on-refresh="getGarageList()">
		</ion-refresher>
		<ion-item class="card grid_items button" ng-class="{'button-positive' : gar.month_idx == 0, 'button-energized' : gar.month_idx > 0}" ng-repeat="gar in garageList" ng-click="xiso.openGarageView(gar)">
			<div ng-if="gar.month_idx > 0">
				{{gar.car_type_title}} / 월차
			</div>
			<div ng-if="gar.month_idx == 0">
				{{gar.car_type_title}} / {{gar | calcu | currency : "" : 0}} 원
			</div>
			<div class="gar_card">
				{{gar.car_num}}
			</div>
			<div>
				{{gar.start_date | passTime}}
			</div>
		</ion-item>
		<ion-infinite-scroll
				on-infinite="loadMore()"
				distance="1%"
				ng-if="moredata">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>
