<ion-view title="입출차기록">
    <ion-nav-bar class="bar-calm">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <div class="content-header">
        <div class="button-bar">
            <a class="button" ng-click="changeStatus('all')" ng-class="{'button-energized' : status=='all', 'button-dark' : status!='all'}">전체</a>
            <a class="button" ng-click="changeStatus('in')" ng-class="{'button-energized' : status=='in', 'button-dark' : status!='in'}">입차중</a>
            <a class="button" ng-click="changeStatus('out')" ng-class="{'button-energized' : status=='out', 'button-dark' : status!='out'}">정상출차</a>
            <a class="button" ng-click="changeStatus('no_pay')" ng-class="{'button-energized' : status=='no_pay', 'button-dark' : status!='no_pay'}">미결제</a>
            <a class="button" ng-click="changeStatus('cancel')" ng-class="{'button-energized' : status=='cancel', 'button-dark' : status!='cancel'}">입차취소</a>
        </div>
        <div class="bar bar-header item-input-inset bar-dark">
            <label class="item-input-wrapper" style="background-color: #333;">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="차량 번호로 필터링" ng-model="search.car_num" style="color:white;">
            </label>
        </div>

        <div class="row header ovc_header">
            <div class="col">차량 번호</div>
            <div class="col">입차 시간</div>
            <div class="col">출차 시간</div>
            <div class="col">이용 요금</div>
            <div class="col">할인 금액</div>
            <div class="col">결제 금액</div>
            <div class="col">입차</div>
            <div class="col">결제</div>
        </div>
    </div>

    <ion-content class="has-header">
        <div class="spacer" style="height:130px"></div>
        <ion-refresher
                pulling-text="당겨서 새로 고침"
                on-refresh="refresh()" style="top:0px;">
        </ion-refresher>

        <div class="row item item-dark ovc_item" ng-repeat="gar in garageList | filter:search:strict" ng-click="xiso.openGarageView(gar)">
            <div class="col">{{gar.car_num}}</div>
            <div class="col">{{gar.start_date | date:'MM-dd HH:mm'}}</div>
            <div class="col">{{gar.end_date | date:'MM-dd HH:mm'}}</div>

            <!--이용요금-->
            <div class="col tright" ng-if="gar.month_idx == 0">
                <div ng-if="gar.total_amount">{{gar.total_amount | currency : "" : 0}} 원</div>
                <div ng-if="!gar.total_amount">{{gar | calcu | currency : "" : 0}} 원</div>
            </div>
            <div class="col tright" ng-if="gar.month_idx > 0">0 원</div>

            <!--할인금액-->
            <div class="col tright">{{(gar.discount_cooper + gar.discount_self) | currency : "" : 0}} 원</div>
            <!--결제금액-->
            <div class="col tright">{{gar.pay_amount | currency : "" : 0}} 원</div>

            <!--입차구분-->
            <div class="col">
                <button class="button button-small button-positive" ng-if="!gar.end_date && gar.is_cancel=='N'">입차중</button>
                <button class="button button-small button-balanced" ng-if="gar.is_out=='Y' && gar.is_cancel=='N'">출차완료</button>
                <button class="button button-small button-energized" ng-if="gar.is_out=='Y' && gar.is_cancel=='Y'">입차취소</button>
            </div>

            <!--결제-->
            <div class="col" ng-if="gar.month_idx == 0 && gar.is_cancel=='N'">
                <button class="button button-small button-assertive" ng-if="gar.is_paid=='N'">미결제</button>
                <button class="button button-small" ng-if="gar.is_paid=='Y'">결제완료</button>
            </div>
            <div class="col" ng-if="gar.month_idx > 0 && gar.is_cancel=='N'">
                <button class="button button-small button-clear">월차</button>
            </div>
            <div class="col" ng-if="gar.is_cancel=='Y'">
                <button class="button button-small button-clear">입차취소</button>
            </div>
        </div>
        <ion-infinite-scroll
                on-infinite="loadMore()"
                distance="1%"
                ng-if="moredata">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
