<ion-modal-view  class="background">
    <ion-header-bar class="bar-dark">
        <h1 class="title" style="text-align:center;" ng-show="!selectedCartype">차종 선택</h1>
        <h1 class="title" ng-show="selectedCartype">선택된 차종 - {{selectedCartype.car_type_title}}</h1>
    </ion-header-bar>

    <ion-content class="has-header">
        <ion-list class="background" ng-show="!selectedCartype">
            <ion-item class="item" ng-repeat="cartype in carTypeList" ng-click="showCartypeDetail(cartype)">
                {{cartype.car_type_title}}
            </ion-item>
        </ion-list>
        <div class="list" ng-show="selectedCartype">
            <label class="item item-input">
                <span class="input-label">차종 명</span>
                <p>{{selectedCartype.car_type_title}}</p>
            </label>
            <label class="item item-input">
                <span class="input-label">최초 무료시간 (분)</span>
                <p>{{selectedCartype.minute_free}} 분</p>
            </label>
            <label class="item item-input">
                <span class="input-label">기본요금</span>
                <p>{{selectedCartype.basic_amount}} 원</p>
            </label>
            <label class="item item-input">
                <span class="input-label">기본시간 (분)</span>
                <p>{{selectedCartype.basic_minute}} 분</p>
            </label>
            <label class="item item-input">
                <span class="input-label">추가요금</span>
                <p>{{selectedCartype.amount_unit}} 원</p>
            </label>
            <label class="item item-input">
                <span class="input-label">추가요금 단위 (분)</span>
                <p>{{selectedCartype.minute_unit}} 분</p>
            </label>
        </div>
    </ion-content>
    <ion-footer-bar class="bar bar-footer bar-dark">
        <div class="button-bar" ng-show="!selectedCartype">
            <a class="button button-light" ng-click="closeCartypeList()">닫기</a>
        </div>
        <div class="button-bar" ng-show="selectedCartype">
            <a class="button button-balanced" ng-click="selectCartype()" >선택</a>
            <a class="button button-light" ng-click="cancelCartype()">취소</a>
        </div>
    </ion-footer-bar>
</ion-modal-view>
