<ion-modal-view  class="background">
    <ion-header-bar class="bar-dark">
        <h1 class="title" style="text-align:center;">취소할 결제건을 선택하세요 - [ 차량번호 : {{xiso.garage.car_num}} ]</h1>
    </ion-header-bar>

    <ion-content class="has-header">
        <ion-list class="background">
            <ion-item class="square" style="height:130px" ng-repeat="pay in xiso.payList" ng-click="xiso.procPayCancel(pay)">
                <h4 style="padding:10px 0">{{pay.pay_amount | currency:"":0}}원</h4>
                <h5>{{pay.pay_type == 'card' ? '카드' : '현금'}} 취소</h5>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar bar-footer bar-dark">
        <div class="button-bar">
            <a class="button button-light" ng-click="xiso.mdPayCancel.hide()">닫기</a>
        </div>
    </ion-footer-bar>
</ion-modal-view>
