<ion-tabs class="tabs-icon-top tabs-dark tabs-color-light tabs-color-active-positive">

    <!-- Dashboard Tab -->
    <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/mainLayout/tabs/currentCars">
        <ion-nav-view name="tab-current"></ion-nav-view>
    </ion-tab>

    <!-- Chats Tab -->
    <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/mainLayout/tabs/historyCars">
        <ion-nav-view name="tab-history"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/mainLayout/tabs/config">
        <ion-nav-view name="tab-config"></ion-nav-view>
    </ion-tab>


    <multiple-views-support width="65%" />
</ion-tabs>
